main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

mat-card {
  align-self: stretch;
}

.status {
  display: flex;
  gap: 4px;
}
