@if (interactive()) {
  <mat-action-list>
    <button mat-list-item type="button" (click)="activate.emit()">
      <span matListItemTitle>{{ label() }}</span>
      @if (value()) {
        <span matListItemMeta class="value">{{ value() }}</span>
      }
    </button>
  </mat-action-list>
} @else {
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>{{ label() }}</span>
      <span matListItemMeta><ng-content select="[rowTrailing]" /></span>
    </mat-list-item>
  </mat-list>
}
<div class="editor"><ng-content select="[rowEditor]" /></div>
@if (error(); as message) {
  <p class="error" role="alert">{{ message }}</p>
}
